/* Navbar styles */
nav {
    background-color: #4CAF50; /* Un verde oscuro */
    padding: 15px 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: space-around;
    align-items: center; /* Align items vertically in the center */
}

nav ul li {
    display: inline-block;
    margin: 0 15px;
}

nav ul li a {
    color: #ffffff; /* Texto blanco */
    text-decoration: none;
    font-size: 18px;
    transition: color 0.3s ease; /* Smooth transition for hover effect */
}

nav ul li a:hover {
    color: #45a049; /* Un verde un poco más oscuro cuando se pasa el cursor por encima */
}