nav {
    background-color: #6c757d;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: space-around;
}

nav ul li {
    display: inline-block;
    margin: 0 10px;
}

nav ul li a {
    color: #f8f9fa;
    text-decoration: none;
    font-size: 18px;
    transition: color 0.5s ease;
}

nav ul li a:hover {
    color: #007bff;
}